<div class ="header">  New Carrier </div>

<%= render partial: "layouts/errors", locals: {object: @carrier} %>

<%= form_for(@carrier) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :cost %>
    <%= f.text_field :cost %>
    <br>
    <br>
    <%= f.label :rating %>
    <%= f.text_field :rating %>

    <%= f.submit %>
<% end %>
