<h1> New Carrier </h1>

<%= form_for(@carrier) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :cost %>
    <%= f.text_field :cost %>
    <br>
    <br>
    <%= f.label :rating %>
    <%= f.text_field :rating %>

    <%= f.submit %>
<% end %>
