<div class ="header"> New Phone ! </div>

<%= render partial: "layouts/errors", locals: {object: @phone} %>

<%= form_for(@phone) do |f| %>
    <%= f.label :model %>
    <%= f.text_field :model %>
    <br>
    <%= f.label :manufacturer %>
    <%= f.text_field :manufacturer %>
    <br>
    <%= f.label :storage %>
    <%= f.text_field :storage %>

    <%= f.submit %>
<% end %>