<div class ="header"> All Activations </div>

<p>Filter activations: 
<%= form_tag("/activations", method: "get") do %>
    <%= select_tag "user", options_from_collection_for_select(@users, "id", "name")%>
    <%= select_tag "phone", options_from_collection_for_select(@phones, "id", "model")%>
    <%= submit_tag "Filter" %>
  <% end %>
</p>

<ul>
    <% @activations.each do |activation| %>
        <div class= "main-content">
        Phone Number:  <%= activation.phone_number %>  
       
        Activated By: <%= activation.user.name %> 

        <%= link_to 'Details about this activation', activation_path(activation.id) %><br>
       </div>
       <br>

    <% end %>
</ul>
