<div class ="header"> All Activations </div>

Filter activations: 
<%= form_tag("/activations", method: "get") do %>
    <%= select_tag "user", options_from_collection_for_select(@users, "id", "name")%>
    <%= submit_tag "Filter" %>
  <% end %>

<ul>
    <% @activations.each do |activation| %>
        Phone Number:  <%= activation.phone_number %>  <br> 
       
        Activated By: <%= activation.user.name %> <br>

        <%= link_to 'Details about this activation', activation_path(activation.id) %><br>
        <br>
        <br>

    <% end %>
</ul>
